@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;
    --card: 60 25% 92%;
    --card-foreground: 0 0% 0%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 0%;
    --primary: 90 35% 73%;
    --primary-foreground: 0 0% 0%;
    --secondary: 120 20% 71%;
    --secondary-foreground: 0 0% 0%;
    --muted: 60 25% 92%;
    --muted-foreground: 0 0% 0%;
    --accent: 120 20% 71%;
    --accent-foreground: 0 0% 0%;
    --destructive: 20 84% 48%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 88%;
    --input: 0 0% 100%;
    --ring: 90 35% 73%;
    --chart-1: 90 35% 73%;
    --chart-2: 120 20% 71%;
    --chart-3: 60 25% 92%;
    --chart-4: 220 26% 17%;
    --chart-5: 0 0% 100%;
    --radius: 0.75rem;
    --sidebar-background: 60 25% 92%;
    --sidebar-foreground: 0 0% 0%;
    --sidebar-primary: 90 35% 73%;
    --sidebar-primary-foreground: 0 0% 0%;
    --sidebar-accent: 120 20% 71%;
    --sidebar-accent-foreground: 0 0% 0%;
    --sidebar-border: 0 0% 88%;
    --sidebar-ring: 90 35% 73%;
  }

  .dark {
    --background: 220 26% 17%;
    --foreground: 210 20% 98%;
    --card: 220 13% 27%;
    --card-foreground: 210 20% 98%;
    --popover: 220 26% 17%;
    --popover-foreground: 210 20% 98%;
    --primary: 90 40% 56%;
    --primary-foreground: 210 20% 98%;
    --secondary: 120 15% 49%;
    --secondary-foreground: 210 20% 98%;
    --muted: 220 13% 27%;
    --muted-foreground: 215 16% 65%;
    --accent: 120 15% 49%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 84% 51%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 16% 34%;
    --input: 220 13% 27%;
    --ring: 90 40% 56%;
    --chart-1: 90 40% 56%;
    --chart-2: 120 15% 49%;
    --chart-3: 215 16% 34%;
    --chart-4: 215 16% 65%;
    --chart-5: 220 26% 17%;
    --sidebar-background: 220 13% 27%;
    --sidebar-foreground: 210 20% 98%;
    --sidebar-primary: 90 40% 56%;
    --sidebar-primary-foreground: 210 20% 98%;
    --sidebar-accent: 120 15% 49%;
    --sidebar-accent-foreground: 210 20% 98%;
    --sidebar-border: 215 16% 34%;
    --sidebar-ring: 90 40% 56%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-sans;
  }
}